@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
*{
  font-family: 'Montserrat', sans-serif;
  color: #4B4B4B;
  margin: 0px;
}

img{
  width: 1350px;

}



.contenido{
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
}

/*
img {
height: 100 %;
top:0;
left:0;
position:fixed;
z-index: -1;
width: 100 &#37; ; /* en porcentaje (el highlight del foro lo trasforma)
}


.text{
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

#id{
  color: red;
}

h1{
  color: #18A36F;
  text-align: center;
}

h2{
  color: #186CA3;
  text-align: center;
}

h4{
  text-align: center;
  color: #5C0A98;
}

table{
  text-align: center;
  border:  1px solid #aabcfe;
}

a{
  color: #7A258E;
}

strong {
  margin: 0px;
}

a{
  margin: 0px;
}
/*
